---
layout: default
images:
   profile_img:  https://source.unsplash.com/00ByEXKcSkA
   usp-1_img: https://source.unsplash.com/flRm0z3MEoA
   usp-2_img: https://source.unsplash.com/QeVmJxZOv3k
   usp-3_img: https://source.unsplash.com/Mb8dFisnmr8
   motivation-1_img: https://source.unsplash.com/T0BYurbDK_M
   motivation-2_img: https://source.unsplash.com/3YrppYQPoCI
testimonial:  
 - testimonial_img: https://source.unsplash.com/Zz5LQe-VSMY
   quote: Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam modi temporibus eligendi quo quos amet reiciendis, necessitatibus assumenda ad?
   name: Sarah
 - testimonial_img: https://source.unsplash.com/Zz5LQe-VSMY
   quote: Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam modi temporibus eligendi quo quos amet reiciendis, necessitatibus assumenda ad?
   name: Jessi
 - testimonial_img: https://source.unsplash.com/HRZUzoX1e6w
   quote: Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam modi temporibus eligendi quo quos amet reiciendis, necessitatibus assumenda ad?
   name: Carmen
instafeed: 
 - https://source.unsplash.com/00ByEXKcSkA
 - https://source.unsplash.com/QeVmJxZOv3k
 - https://source.unsplash.com/00ByEXKcSkA
 - https://source.unsplash.com/QeVmJxZOv3k
 - https://source.unsplash.com/00ByEXKcSkA
 - https://source.unsplash.com/QeVmJxZOv3k
---
{% include header-nav.html %}

<!--Recent Projects-->
<section class="padded">
   <div class="capped-width grid tall-100">
      <div class="col-5-top">
         <div class="bg-image portrait margin-b-2 margin-r-2" style="background-image: url('/images/mockup.jpg');" ></div>
         <div class="bg-image portrait margin-r-2" style="background-image: url('/images/placeholder-project.png');"></div>
      </div>
      <div class="col-7-bottom grid">
         <h2 class="editable">Bienvenido a Ediquilmes</h2>
         <div class=" col-12 bg-image landscape margin-b-2" ></div>
         <div class="col-10 bg-image square padded-1"></div>
      </div>
   </div>
</section>

<!-- Notifictions -->
<section class="padded">
   <div class="capped-width bg-featured padded white-text">
      <h2 class="editable white-text">Notificaciones</h2>
      <p class="editable">Queridos Clientes, <br> la temporada del Verano 2021/2022 dura hasta el 31 de Marzo. Estamos contentos de volverlos a alugar. </p>
      <p class="editable">Los esperamos!<br> </p>
      <p class="editable handwritten"> Carmen + Fritz</p>
   </div>
</section>


<!-- Deptos Link-->
<!--Recent Projects-->
<section class="padded">
   <div class=" grid ">
      <div class="col-5-middle padded">
         <h2>Los Apartamentos</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis neque, pariatur molestias earum officiis exercitationem itaque soluta sint qui at, excepturi maxime deserunt mollitia perferendis nam doloremque facere. Expedita, eligendi.</p>
         <div class="button">Mas informaciones</div>
      </div>
      <div class="col-7">
         <div class="bg-image landscape"></div>
      </div>
   </div>

</section>

<!-- sobre nosotros -->
<section class="padded">
   <div class="capped-width">
      <h2 class="editable  margin-b-2">Sobre Nosotros</h2>
      <div class="grid">
         <div class="col-4">
            <div class="bg-image portrait round" data-aos="fade-up" data-aos-duration="3000"></div>
         </div>
         <div class="col-6 padded">
            <h3 class="editable">Dona Carmen</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aliquid sequi ratione quibusdam maxime alias quos id laborum, eos doloribus eum maiores, quasi ipsa perspiciatis numquam. Soluta amet mollitia earum?</p>
         </div>
      </div>
      <div class="grid">
         <div class="col-6 padded">
            <h3 class="editable">Don Fritz</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aliquid sequi ratione quibusdam maxime alias quos id laborum, eos doloribus eum maiores, quasi ipsa perspiciatis numquam. Soluta amet mollitia earum?</p>
         </div>
         <div class="col-4">
            <div class="bg-image portrait round" data-aos="fade-up" data-aos-duration="3000"></div>
         </div>
      </div>
   </div>
</section>




<!-- Testimonial section -->
<section class="padded">
   <h3 class="editable center margin-b-2">Palabras de nuestros clientes</h3>
   <div class="slider-container">
           {% for item in page.testimonial %}
               <div class="slider-item grid-center">
                   <div class="quote-section grid col-12">
                       <div class="col right">
                           <span class="quote-icon">&#8220</span>
                       </div>
                       <div class="col-5_md-9 center padded-2">
                           <p class="medium-text font-weight-light">{{item.quote}}</p>
                           <p class="subtitle">- {{item.name}}</p>
                       </div>
                       <div class="col">
                           <span class="quote-icon">&#8221;</span>
                       </div>
                   </div>
               </div>
           {% endfor %}
    </div>
</section>


<section class="grid padded bg-white" id="map">
   <div class="col-6_sm-12">
       <iframe allowfullscreen="" loading="lazy" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1330.4306440603239!2d11.716111645507814!3d48.17075461703294!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd5269af0eb6d037!2sEisdiele%20Fontana%20Moraitini%20%26%20Guntin%20GbR!5e0!3m2!1sde!2sde!4v1639325354026!5m2!1sde!2sde" style="border:0;" width="600" height="450"></iframe>    </div>
   <div class="col-6_sm-12-middle padded">
     <h2 class="editable" data-cms-index="0" data-cms-source="/_includes/map.html"> Donde nos encuentran</h2>
     <p class="editable padded-b-2" data-cms-index="1" data-cms-source="/_includes/map.html"> Wir freuen uns, wenn Ihr bei uns vorbeischaut! ...und erst Recht, wenn ihr uns eine Bewertung bei <a href="https://www.google.com/search?hl=de-DE&amp;gl=de&amp;q=Eisdiele+Fontana+Moraitini+%26+Guntin+GbR,+Feldkirchner+Str.+2,+85609+Aschheim&amp;ludocid=959945871170392119&amp;lsig=AB86z5XeRtqmgGLlzTdRjs4BWncE&amp;hl=de&amp;gl=DE#lrd=0x479e0b089c464f41:0xd5269af0eb6d037,3,,,">Google</a> hinterlässt! :)</p>
     <p> <strong> Adresse: </strong> Feldkirchner Str. 2, 85609 Aschheim, Deutschland </p>
     <p> <strong> Email: </strong> <a href="mailto:eisdielefontana@gmail.com">eisdielefontana@gmail.com</a></p>
     <p> <strong> Telefon: </strong> +49 89 99176874</p>
   </div>
 </section>

{% include footer.html %}