<header class="grid-spaceBetween">
    <div class="col-1 logo">Ediquilmes</div>

        <nav class="col-8-middle right tab-hide ">
            <a href="#">Apartamentos</a>
            <a href="#">Galeria</a>   
            <a href="#">Contacto</a>    
        </nav>    
    


    <div class="hamburger-button  tab-show col">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.3 35.1"><path d="M0 16h74.3v3H0zM0 0h37.1v3H0zM37.1 32.1h37.1v3H37.1z"></path></svg>
    </div>

    <div class="nav-container grid-middle">
        <div class="close-button active">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><polygon points="405 121.8 390.2 107 256 241.2 121.8 107 107 121.8 241.2 256 107 390.2 121.8 405 256 270.8 390.2 405 405 390.2 270.8 256 405 121.8"></polygon></svg>
        </div>
        <nav class="nav-menu col-middle">
            <a href="#">Home</a>
            <a href="#">About</a>   
            <a href="#">Contact</a>    
            <a href="#">Product</a>   
          </nav>    
        </div>

</header>