<header class="grid-spaceBetween">

    <div class="col-1-middle logo"> 
        <a href="index.html">Ediquilmes</a>   
    </div>

    <nav class="col-8-middle right tab-hide ">
        <div class="dropdown">
            <a class="dropdown-title" href="/apartamentos"> Apartamentos <i class="fas fa-chevron-down"></i></a>
            <div class="dropdown-content">
              <a href="/apartamento-101"> <strong>101</strong> | Para 2 Personas </a>
              <a href="/apartamento-102-202"> <strong>102/202</strong>  |  Para 6 Personas </a>
              <a href="/apartamento-201"> <strong>201</strong> |  Para 10 Personas </a>
            </div>
          </div>
        <a href="/galeria">Galeria</a>   
        <a href="#">Contacto</a>    
    </nav>    
    


    <div class="hamburger-button  tab-show col">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74.3 35.1"><path d="M0 16h74.3v3H0zM0 0h37.1v3H0zM37.1 32.1h37.1v3H37.1z"></path></svg>
    </div>

    <div class="nav-container grid-middle">
        <div class="close-button active">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><polygon points="405 121.8 390.2 107 256 241.2 121.8 107 107 121.8 241.2 256 107 390.2 121.8 405 256 270.8 390.2 405 405 390.2 270.8 256 405 121.8"></polygon></svg>
        </div>
        <nav class="nav-menu col-middle">
            <div class="dropdown">
                <span class="dropdown-title-mob"> Apartamentos <i class="fas fa-chevron-down"></i></span>
                <div class="dropdown-content-mob hidden">
                  <a href="/apartamento-101"> <strong>101</strong> | Para 2 Personas </a>
                  <a href="/apartamento-102-202"> <strong>102 / 202</strong>  |  Para 6 Personas </a>
                  <a href="/apartamento-201"> <strong>201</strong> |  Para 10 Personas </a>
                </div>
              </div>
            <a href="/galeria">Galeria</a>   
            <a href="#">Contacto</a>    
          </nav>    
        </div>

</header>