<section class="grid padded bg-white" id="map">
    <div class="col-6_sm-12">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4440.427944977899!2d-48.503822401357986!3d-26.22668604571784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94d945d1682ed335%3A0x8576b39ca0048f97!2sEdiquilmes!5e0!3m2!1ses!2sbr!4v1642171292155!5m2!1ses!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>   
    </div>
    <div class="col-6_sm-12-middle padded">
      <h2 class="editable" data-cms-index="0" data-cms-source="/_includes/map.html"> Donde nos encuentran</h2>
      <p class="editable padded-b-2" data-cms-index="1" data-cms-source="/_includes/map.html"> Estaríamos encantados si viniera a visitarnos! ... Y, aún más, si nos dejara una reseña en <a href="https://goo.gl/maps/5KkUvUFwiKgtq3ys8">Google</a>! :)</p>
      <p> <strong> Adresse: </strong> Feldkirchner Str. 2, 85609 Aschheim, Deutschland </p>
      <p> <strong> Email: </strong> <a href="mailto:eisdielefontana@gmail.com">eisdielefontana@gmail.com</a></p>
      <p> <strong> Telefon: </strong> +49 89 99176874</p>
    </div>
  </section>
 
 